body {
  margin: 0;
}
.wrapper {
  margin: auto;
}
.zadniy-fon {
  height: 840px;
  background-size: cover;
  background: no-repeat url(img/mainimg.png);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 28px;
}

.menu__item {
  position: relative;
  margin-right: 27.5px;
  font: bold 18px/21px "robotoblack", arial, helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.5s;
}
.menu__item:last-child {
  margin-right: 7px;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 71px 66% 167px 2px;
}

.title-main__title {
  margin: 1px 0 38px 1px;
  font: bold 40px/47px "robotoblack", arial, helvetica, sans-serif;
  color: #E1E6E9;
  width: 150%;
}

.sabtitle-main__subtitle {
  margin: 0 0 60px 1px;
  font: bold 20px/23px "robotoblack", arial, helvetica, sans-serif;
  color: #E1E6E9;
  width: 86%;
}
