body {
  margin: 0;
}
.wrapper {
  margin: auto;
}
.background {
  height: 840px;
  background-size: cover;
  background: no-repeat url(img/mainimg.png);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.menu {
  display: flex;
  padding: 71px 0 0 586px;
}

.menu__item {
  position: relative;
  margin-right: 55px;
  font: bold 18px/21px "robotoblack", arial, helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.5s;
}
.menu__item:last-child {
  margin-right: 7px;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 0 144px 958px;
}

.title {
  margin: 1px 0 38px 1px;
  font: bold 40px/47px "robotoblack", arial, helvetica, sans-serif;
  color: #E1E6E9;
  width: 150%;
}

.subtitle {
  margin: 0 0 27px 67px;
  font: 20px/23px "robotoblack", arial, helvetica, sans-serif;
  color: #E1E6E9;
  width: 86%;
}

.main__button {
  font: 20px/23px "robotoblack", arial, helvetica, sans-serif;
  color: #FFFFFF;
  background: #E0036F;
  padding: 10px 70px 15px 66px;
  margin: 0 0 0 153px;
  text-decoration: none;
